name: Django Auto-Deploy

on:
  push:
    branches: [ master ] # This triggers the script on every push to main branch

jobs:
  deploy:
    runs-on: self-hosted # This tells GitHub to use your Win 11 server

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploying updates to the server
        shell: powershell
        run: |
          # We are in C:\actions-runner\_work\SBProduction
          & ".\venv\Scripts\python.exe" -m pip install -r requirements.txt
          & ".\venv\Scripts\python.exe" manage.py migrate --noinput
          # Restart-Service will now trigger Waitress via run_server.py
          Restart-Service -Name "DjangoAPI" -Force
