name: Django Auto-Deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      # English: Stop the service first to unlock files in the venv
      - name: Stop Service
        shell: powershell
        run: |
          # We use ErrorAction SilentlyContinue so it doesn't fail if service is already stopped
          Stop-Service -Name "DjangoAPI" -Force -ErrorAction SilentlyContinue
          # Give Windows 3 seconds to release the files
          Start-Sleep -s 3

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Production Update
        shell: powershell
        run: |
          # Now we are in C:\actions-runner\_work\SBProduction\SBProduction
          
          # ensure venv exists (if you deleted it manually)
          if (!(Test-Path "venv")) { python -m venv venv }

          & ".\venv\Scripts\python.exe" -m pip install -r requirements.txt
          & ".\venv\Scripts\python.exe" manage.py collectstatic --noinput
          & ".\venv\Scripts\python.exe" manage.py migrate --fake-initial --noinput
          
          # Restart-Service will start it back up
          Restart-Service -Name "DjangoAPI" -Force